.header {
  @include image-gradient-background("../img/hero.jpg");
  height: 95vh;

  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.header__logo {
  height: 3.5rem;
}

.header__hero-box {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -75%);

  text-align: center;
}
