// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$text-dark: #777;
$text-dark-2: #9c9c9c;
$text-light: #eee;

$color-white: #fff;
$color-offwhite: #eee;
$color-black: #0000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

// GRID
$row-width: 114rem; // 1140px
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;

// FONTS
$fontsize-default: 1.6rem;
$fontsize-medium: 2rem;
