.section-main {
  background-color: $color-offwhite;
  margin-top: -25vh;
  padding: 25rem 0;
}

.section-features {
  padding: 25rem 0;
  @include image-gradient-background("../img/hero.jpg");
  margin-top: -12rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-offwhite;
  padding: 25rem 0 10rem 0;
  margin-top: -12rem;
}

.section-stories {
  padding: 15rem;
  position: relative;
}

.section-book {
  @include lienar-gradient-primary(1);
  padding: 15rem 0;
}

.book {
  width: 100%;
  height: 50rem;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url("../img/nat-10.jpg");
  background-size: cover;
}
